# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/DerivedData/
ios/.symlinks/
ios/.generated/

# Android
android/.gradle/
android/app/build/
android/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/runner/Debug/
windows/runner/Release/
windows/build/
windows/.dart_tool/

# Linux
linux/build/
linux/.dart_tool/

# Web
web/.dart_tool/
web/build/

# VS Code & IntelliJ
.idea/
.vscode/
*.iml

# Others
*.log
*.lock
*.tmp
*.swp
*.DS_Store
